*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.container ul{
    display: flex;
}
.container ul li{
    list-style: none;
    margin-right: 10px;
}
.container ul li a{
    text-decoration: none;
}